body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    margin: 25%;
    color: #ffffff;

}

.piskvorky__footer {
    display: flex;
    flex-direction: column;
}

.piskvorky__title {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}

.piskvorky__description {
    text-align: center;
    padding: 2rem 0;
    margin: 0 1rem;
  
}

.piskvorky__game-intro {
    display: flex;
    flex-direction: column;
    background-color: #283e50;
}

.piskvorky__hraci-plocha {
    order: -1;
} 