body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #283e50;
    max-width: 400px;
    box-sizing: border-box;
    width: 90%;

}

.piskvorky__footer {
    display: flex;
    flex-direction: column;
}

.piskvorky__title {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 3rem;
}

.piskvorky__description {
    text-align: center;
    padding: 2rem 0;
    margin: 0 1rem;
    line-height: 1.4;
    font-size: 1.2rem;
  
}


.piskvorky__picture {
    order: -1;
} 

.piskvorky__footer a {
    text-decoration: none;
    color: #ffffff;
}


.piskvorky__btn-pravidla {
    background-color: #1fcca4;
    border: 0;
    height: 3rem;
}

.piskvorky__btn-zacit-hrat {
    background-color: #0197f6;
    border: 0;
    height: 3rem;
    position: relative;
    top: 0.06rem;
}
