body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #283e50;
    max-width: 80vmin;
    box-sizing: border-box;
    width: 100%; 
    border-radius: 2% 2% 0 0;
}

.piskvorky__footer {
    display: flex;
    flex-direction: column;
}

.piskvorky__title {
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    font-family: "Lobster";
    font-weight: 400;
    font-style:normal;
    font-size: 3rem;
}

.piskvorky__description {
    text-align: center;
    font-family: sans-serif;
    padding: 2rem 0;
    margin: 0 1rem;
    line-height: 1.5;
    font-size: 1.1rem;
  
}


.piskvorky__picture {
    order: -1;
    border-radius: 2% 2% 0 0;
} 

.piskvorky__footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
}

.piskvorky__btn {
    border: 0;
    height: 3rem;
}

.btn--pravidla {
    background-color: #1fcca4;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.btn--hrat {
    background-color: #0197f6;
    position: relative;
    top: 0.06rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn--pravidla:hover {
    background-color: #1cbb96;
    cursor: pointer;
}

.btn--hrat:hover {
    background-color: #0090e9;
    cursor: pointer;
}

/* ----------- 2. Hra --------- */

.piskvorky__hra {
    color: #ffffff;
    max-width: 80vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hra__title {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 4rem;
}

.hra__hlavni-panel {
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hra__hrac {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.hra__menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hrac__znak {
    border: 2.5px solid white;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
} 

.hra__hrac p {
    margin-right: 0.5rem;
}

.btn {
    background-color: #1fcca4;
    padding: 8px;
    border-radius: 8%;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
cursor: pointer;
background-color: #1cbb96;
}

.btn--restart {
    background-color: #0197f6;
}

.btn--restart:hover,
.btn--restart:focus {
cursor: pointer;
background-color: #0090e9;
}

.hraci-pole {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    border: 1.2px solid #283e50;
    background-image: linear-gradient(#9d85be, #e8cee2);
        
}

.hraci-pole button {
    margin: 0;
    padding: 0;
    width: calc(100% /10);
    aspect-ratio: 1/1;
    border: 1.2px solid #283e50;
    cursor: pointer;
    background-color: transparent;
}

.hraci-pole button:hover,
.hraci-pole button:focus
 {
    background-color: RGBA(255, 255, 255, 0.2); 
}

/* ----------------3. Hrací pole -------------*/

.piskvorky__hra {
    padding-bottom: 5%;
}

.board__field--circle {
    background-image: url(img/circle_black.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    }


.board__field--cross {
    background-image: url(img/cross_black.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.hrac__znak--cross {
    border: none;
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(img/cross.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: center;    
}

.hrac__znak--circle {
    border: none;
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(img/circle.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: center;    
}